{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <h1>Вход</h1>

    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}  {# Отображаем форму в виде параграфов #}
      <button type="submit" class="btn btn-primary">Войти</button>
    </form>

    <p><a href="{% url 'users:password_reset_request' %}">Забыли пароль?</a></p>  <!-- Добавлена ссылка -->
  </div>
{% endblock %}